# **Data Cleaning Project: Credit Score Classification Datasets**

In this project, we will be doing some data cleaning and feature engineering to training and testing datasets about a credit score classification. The product of this project is a pair of csv files that can further be used in a prediction project to classify clients' credit score.

Our thanks to the provider of the original datasets:
https://www.kaggle.com/datasets/parisrohan/credit-score-classification

## **I. Project Preparation**

### Ia. Libraries

In [445]:
# importing libraries
import pandas as pd

import numpy as np

import sys
!{sys.executable} -m pip install termcolor

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()

from termcolor import colored

Requirement already satisfied: termcolor in c:\users\arvy\anaconda3\lib\site-packages (1.1.0)

### Ib. Datasets

In [446]:
# original train dan test datasets
train_ori = pd.read_csv('train.csv')
test_ori = pd.read_csv('test.csv')

# copy of train and test datasets
train = train_ori.copy()
test = test_ori.copy()

C:\Users\Arvy\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (26) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

## **II. Light Data Exploration**

### IIa. General overview

There are some information regarding what each feature of the dataset represents given by the provider of the datasets. These information are very useful for us to better understand the datasets.

* 1. ID
* 2. Customer_ID
* 3. Month
*

In [447]:
# train dataset

# first five rows of the dataset
pd.set_option('display.max_columns', None)
train.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance,Credit_Score
0,0x1602,CUS_0xd40,January,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,4.0,_,809.98,26.822620,22 Years and 1 Months,No,49.574949,80.41529543900253,High_spent_Small_value_payments,312.49408867943663,Good
1,0x1603,CUS_0xd40,February,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,NaN,11.27,4.0,Good,809.98,31.944960,NaN,No,49.574949,118.28022162236736,Low_spent_Large_value_payments,284.62916249607184,Good
2,0x1604,CUS_0xd40,March,Aaron Maashoh,-500,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,_,4.0,Good,809.98,28.609352,22 Years and 3 Months,No,49.574949,81.699521264648,Low_spent_Medium_value_payments,331.2098628537912,Good
3,0x1605,CUS_0xd40,April,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",5,4,6.27,4.0,Good,809.98,31.377862,22 Years and 4 Months,No,49.574949,199.4580743910713,Low_spent_Small_value_payments,223.45130972736786,Good
4,0x1606,CUS_0xd40,May,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",6,NaN,11.27,4.0,Good,809.98,24.797347,22 Years and 5 Months,No,49.574949,41.420153086217326,High_spent_Medium_value_payments,341.48923103222177,Good

In [448]:
# train dataset

# dataset shape
print('train dataset entries x features :', train.shape)

train dataset entries x features : (100000, 28)

In [449]:
# train dataset

# data type info
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  object
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  object
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  object
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   object
 16  Changed_Credit_Limit      100000 non-null  object
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  object
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   object
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   object
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           98800 non-null   object
 27  Credit_Score              100000 non-null  object
dtypes: float64(4), int64(4), object(20)
memory usage: 21.4+ MB

In [450]:
# categorical features in train dataset
trainCat = []
for i in train.columns:
    if train[i].dtype == 'object':
        trainCat.append(i)
trainCat

['ID',
 'Customer_ID',
 'Month',
 'Name',
 'Age',
 'SSN',
 'Occupation',
 'Annual_Income',
 'Num_of_Loan',
 'Type_of_Loan',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Credit_Mix',
 'Outstanding_Debt',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance',
 'Credit_Score']

In [451]:
# numerical features in train dataset
trainNum = []
for i in train.columns:
    if train[i].dtype == 'float64':
        trainNum.append(i)
    if train[i].dtype == 'int64':
        trainNum.append(i)
trainNum

['Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Delay_from_due_date',
 'Num_Credit_Inquiries',
 'Credit_Utilization_Ratio',
 'Total_EMI_per_month']

In [452]:
# test dataset

# first five rows of the dataset
test.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Type_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,7,11.27,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",3,9,13.27,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",-1,4,12.27,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,4,3,4,"Auto Loan, Credit-Builder Loan, Personal Loan,...",4,5,11.27,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,1,Credit-Builder Loan,3,1,5.42,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [453]:
# test dataset
# shape of the dataset
print('test dataset entries x features :', test.shape)

test dataset entries x features : (50000, 27)

In [454]:
# test dataset

# data type info
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

### IIb. Missing values

In [455]:
# train dataset

# Calculating the missing values for each feature
MissingValues = train.isnull().sum()

# Turning the previous output into a dataframe format
MissingValues = pd.DataFrame(MissingValues)
MissingValues = MissingValues.reset_index()
MissingValues.columns = ['Feature', 'Count']

# Calculating each feature's missing values percentage
ListMissingVPerc = []
for i in MissingValues['Count']:
    missingperc = i/100000 * 100 # Total entries = 100000 (from previous step)
    ListMissingVPerc.append(missingperc)
ListMissingVPerc = [round(num, 2) for num in ListMissingVPerc]

# Adding the missing values percentage column to the report
MissingValues['Percentage (%)'] = ListMissingVPerc

# Printing the missing values report
print('Missing values on each feature (train) : ')
print(MissingValues.to_string(index = False))

Missing values on each feature (train) :
                 Feature  Count  Percentage (%)
                      ID      0            0.00
             Customer_ID      0            0.00
                   Month      0            0.00
                    Name   9985            9.98
                     Age      0            0.00
                     SSN      0            0.00
              Occupation      0            0.00
           Annual_Income      0            0.00
   Monthly_Inhand_Salary  15002           15.00
       Num_Bank_Accounts      0            0.00
         Num_Credit_Card      0            0.00
           Interest_Rate      0            0.00
             Num_of_Loan      0            0.00
            Type_of_Loan  11408           11.41
     Delay_from_due_date      0            0.00
  Num_of_Delayed_Payment   7002            7.00
    Changed_Credit_Limit      0            0.00
    Num_Credit_Inquiries   1965            1.97
              Credit_Mix      0            0.00
        Outstanding_Debt      0            0.00
Credit_Utilization_Ratio      0            0.00
      Credit_History_Age   9030            9.03
   Payment_of_Min_Amount      0            0.00
     Total_EMI_per_month      0            0.00
 Amount_invested_monthly   4479            4.48
       Payment_Behaviour      0            0.00
         Monthly_Balance   1200            1.20
            Credit_Score      0            0.00

In [456]:
# test dataset

# Calculating the missing values for each feature
MissingValues = test.isnull().sum()

# Turning the previous output into a dataframe format
MissingValues = pd.DataFrame(MissingValues)
MissingValues = MissingValues.reset_index()
MissingValues.columns = ['Feature', 'Count']

# Calculating each feature's missing values percentage
ListMissingVPerc = []
for i in MissingValues['Count']:
    missingperc = i/50000 * 100 # Total entries = 50000 (from previous step)
    ListMissingVPerc.append(missingperc)
ListMissingVPerc = [round(num, 2) for num in ListMissingVPerc]

# Adding the missing values percentage column to the report
MissingValues['Percentage (%)'] = ListMissingVPerc

# Printing the missing values report
print('Missing values on each feature (test) : ')
print(MissingValues.to_string(index = False))

Missing values on each feature (test) :
                 Feature  Count  Percentage (%)
                      ID      0            0.00
             Customer_ID      0            0.00
                   Month      0            0.00
                    Name   5015           10.03
                     Age      0            0.00
                     SSN      0            0.00
              Occupation      0            0.00
           Annual_Income      0            0.00
   Monthly_Inhand_Salary   7498           15.00
       Num_Bank_Accounts      0            0.00
         Num_Credit_Card      0            0.00
           Interest_Rate      0            0.00
             Num_of_Loan      0            0.00
            Type_of_Loan   5704           11.41
     Delay_from_due_date      0            0.00
  Num_of_Delayed_Payment   3498            7.00
    Changed_Credit_Limit      0            0.00
    Num_Credit_Inquiries   1035            2.07
              Credit_Mix      0            0.00
        Outstanding_Debt      0            0.00
Credit_Utilization_Ratio      0            0.00
      Credit_History_Age   4470            8.94
   Payment_of_Min_Amount      0            0.00
     Total_EMI_per_month      0            0.00
 Amount_invested_monthly   2271            4.54
       Payment_Behaviour      0            0.00
         Monthly_Balance    562            1.12

### IIc. Duplicated entries

In [457]:
# train dataset

# duplicated entires
DuplicatedValues = train.duplicated().sum()
print('Duplicated data (train) : ' + str(DuplicatedValues))

Duplicated data (train) : 0

In [458]:
# test dataset

# duplicated entries
DuplicatedValues = test.duplicated().sum()
print('Duplicated data (test) : ' + str(DuplicatedValues))

Duplicated data (test) : 0

### IId. Unique values

In [459]:
# train Dataset

# Getting the feature names in a list
trainCols = list(train.columns.values)

# Calculating the number of each feature's unique values
ListUniqueC = []
for i in train.columns:
    UCount = len(train[i].unique())
    ListUniqueC.append(UCount)

# Creating the unique values table
UniqueCTable = pd.DataFrame(list(zip(trainCols, ListUniqueC)))
UniqueCTable.columns = ['Feature', 'Unique Values']

# Printing the report
print('Unique values in each feature (train):')
print(UniqueCTable.to_string(index = False))

Unique values in each feature (train):
                 Feature  Unique Values
                      ID         100000
             Customer_ID          12500
                   Month              8
                    Name          10140
                     Age           1788
                     SSN          12501
              Occupation             16
           Annual_Income          18940
   Monthly_Inhand_Salary          13236
       Num_Bank_Accounts            943
         Num_Credit_Card           1179
           Interest_Rate           1750
             Num_of_Loan            434
            Type_of_Loan           6261
     Delay_from_due_date             73
  Num_of_Delayed_Payment            750
    Changed_Credit_Limit           4384
    Num_Credit_Inquiries           1224
              Credit_Mix              4
        Outstanding_Debt          13178
Credit_Utilization_Ratio         100000
      Credit_History_Age            405
   Payment_of_Min_Amount              3
     Total_EMI_per_month          14950
 Amount_invested_monthly          91050
       Payment_Behaviour              7
         Monthly_Balance          98793
            Credit_Score              3

In [460]:
# test Dataset

# Getting the feature names in a list
testCols = list(test.columns.values)

# Calculating the number of each feature's unique values
ListUniqueC = []
for i in test.columns:
    UCount = len(test[i].unique())
    ListUniqueC.append(UCount)

# Creating the unique values table
UniqueCTable = pd.DataFrame(list(zip(testCols, ListUniqueC)))
UniqueCTable.columns = ['Feature', 'Unique Values']

# Printing the report
print('Unique values in each feature (test):')
print(UniqueCTable.to_string(index = False))

Unique values in each feature (test):
                 Feature  Unique Values
                      ID          50000
             Customer_ID          12500
                   Month              4
                    Name          10140
                     Age            976
                     SSN          12501
              Occupation             16
           Annual_Income          16121
   Monthly_Inhand_Salary          12794
       Num_Bank_Accounts            540
         Num_Credit_Card            819
           Interest_Rate            945
             Num_of_Loan            263
            Type_of_Loan           6261
     Delay_from_due_date             73
  Num_of_Delayed_Payment            444
    Changed_Credit_Limit           3927
    Num_Credit_Inquiries            751
              Credit_Mix              4
        Outstanding_Debt          12685
Credit_Utilization_Ratio          50000
      Credit_History_Age            400
   Payment_of_Min_Amount              3
     Total_EMI_per_month          13144
 Amount_invested_monthly          45451
       Payment_Behaviour              7
         Monthly_Balance          49434

### IIe. Findings

Some findings from the observations above:
<br>
<br>
1.   The shape of the train dataset is (10000 x 28), while the test dataset is (50000 x 27). The 1 difference in the number of feature between the train and test datasets is the 'Credit_Score' feature, which is the one needs to be learnt and predicted in the future by the machine learning models.
<br>
<br>
2.   There are some features which likely have wrong type of data type, both on the train and test datasets:
*   'Annual_Income' to float64
*   'Num_of_Loan' to int64
*   'Num_of_Delayed_Payment' to int64
*   'Changed_Credit_Limit' to float64
*   'Outstanding_Debt' to float64
*   'Credit_History_Age' to float64
*   'Amount_invested_monthly' to float64
*   'Monthly_Balance' to float 64
<br>
The data type of these features are currently in categorical type, while the data shown on the first five rows are numerical. We need to change this later.
<br>
<br>
3.  Missing values findings on each feature:


*   'Name'
*   'Monthly_Inhand_Salary'
*   'Type_of_Loan'
*   'Num_of_Delayed_Payment'
*   'Num_Credit_Inquiries'
*   'Credit_History_Age'
*   'Amount_invested_monthly'
*   'Monthly_Balance'
<br>
<br>
4. There are no duplicated entries in both train and test datasets.

## **III. Feature Engineering: Cleaning Data Type**

### IIIa. Categorical feature that are suppossed to be numerical

Let's first take a look at the categorical features that supposedly have numerical type of data instead.

In [461]:
# Categorical features that are supposedly to be numerical instead
FeaturesToConvert = ['Age',
                     'Annual_Income',
                     'Num_of_Loan',
                     'Num_of_Delayed_Payment',
                     'Changed_Credit_Limit',
                     'Outstanding_Debt',
                     'Amount_invested_monthly',
                     'Monthly_Balance'] 
# 'Credit_History_Age' feature will be dealt with later

# Checking the unique values of these features
for feature in FeaturesToConvert:
    uniques = train[feature].unique()
    print('Feature:', '\n',
          colored(feature, attrs = ['bold']), '\n',
          uniques, '\n',
          '--'*40, '\n')

Feature:
 Age
 ['23' '-500' '28_' ... '4808_' '2263' '1342']
 --------------------------------------------------------------------------------

Feature:
 Annual_Income
 ['19114.12' '34847.84' '34847.84_' ... '20002.88' '39628.99' '39628.99_']
 --------------------------------------------------------------------------------

Feature:
 Num_of_Loan
 ['4' '1' '3' '967' '-100' '0' '0_' '2' '3_' '2_' '7' '5' '5_' '6' '8' '8_'
 '9' '9_' '4_' '7_' '1_' '1464' '6_' '622' '352' '472' '1017' '945' '146'
 '563' '341' '444' '720' '1485' '49' '737' '1106' '466' '728' '313' '843'
 '597_' '617' '119' '663' '640' '92_' '1019' '501' '1302' '39' '716' '848'
 '931' '1214' '186' '424' '1001' '1110' '1152' '457' '1433' '1187' '52'
 '1480' '1047' '1035' '1347_' '33' '193' '699' '329' '1451' '484' '132'
 '649' '995' '545' '684' '1135' '1094' '1204' '654' '58' '348' '614'
 '1363' '323' '1406' '1348' '430' '153' '1461' '905' '1312' '1424' '1154'
 '95' '1353' '1228' '819' '1006' '795' '359' '1209' '590' '696' '1185_'
 '1465' '911' '1181' '70' '816' '1369' '143' '1416' '455' '55' '1096'
 '1474' '420' '1131' '904' '89' '1259' '527' '1241' '449' '983' '418'
 '319' '23' '238' '638' '138' '235_' '280' '1070' '1484' '274' '494'
 '1459_' '404' '1354' '1495' '1391' '601' '1313' '1319' '898' '231' '752'
 '174' '961' '1046' '834' '284' '438' '288' '1463' '1151' '719' '198'
 '1015' '855' '841' '392' '1444' '103' '1320_' '745' '172' '252' '630_'
 '241' '31' '405' '1217' '1030' '1257' '137' '157' '164' '1088' '1236'
 '777' '1048' '613' '330' '1439' '321' '661' '952' '939' '562' '1202'
 '302' '943' '394' '955' '1318' '936' '781' '100' '1329' '1365' '860'
 '217' '191' '32' '282' '351' '1387' '757' '416' '833' '359_' '292'
 '1225_' '1227' '639' '859' '243' '267' '510' '332' '996' '597' '311'
 '492' '820' '336' '123' '540' '131_' '1311_' '1441' '895' '891' '50'
 '940' '935' '596' '29' '1182' '1129_' '1014' '251' '365' '291' '1447'
 '742' '1085' '148' '462' '832' '881' '1225' '1412' '785_' '1127' '910'
 '538' '999' '733' '101' '237' '87' '659' '633' '387' '447' '629' '831'
 '1384' '773' '621' '1419' '289' '143_' '285' '1393' '1131_' '27_' '1359'
 '1482' '1189' '1294' '201' '579' '814' '141' '1320' '581' '1171_' '295'
 '290' '433' '679' '1040' '1054' '1430' '1023' '1077' '1457' '1150' '701'
 '1382' '889' '437' '372' '1222' '126' '1159' '868' '19' '1297' '227_'
 '190' '809' '1216' '1074' '571' '520' '1274' '1340' '991' '316' '697'
 '926' '873' '1002' '378_' '65' '875' '867' '548' '652' '1372' '606'
 '1036' '1300' '17' '1178' '802' '1219_' '1271' '1137' '1496' '439' '196'
 '636' '192' '228' '1053' '229' '753' '1296' '1371' '254' '863' '464'
 '515' '838' '1160' '1289' '1298' '799' '182' '574' '527_' '242' '415'
 '869' '958' '54' '1265' '656' '275' '778' '208' '147' '350' '507' '463'
 '497' '1129' '927' '653' '662' '529' '635' '1027_' '897' '1039' '227'
 '1345' '924' '696_' '1279' '546' '1112' '1210' '526' '300' '1103' '504'
 '136' '1400' '78' '686' '1091' '344' '215' '84' '628' '1470' '968' '1478'
 '83' '1196' '1307' '1132_' '1008' '917' '657' '56' '18' '41' '801' '978'
 '216' '349' '966']
 --------------------------------------------------------------------------------

Feature:
 Num_of_Delayed_Payment
 ['7' nan '4' '8_' '6' '1' '-1' '3_' '0' '8' '5' '3' '9' '12' '15' '17'
 '10' '2' '2_' '11' '14' '20' '22' '13' '13_' '14_' '16' '12_' '18' '19'
 '23' '24' '21' '3318' '3083' '22_' '1338' '4_' '26' '11_' '3104' '21_'
 '25' '10_' '183_' '9_' '1106' '834' '19_' '24_' '17_' '23_' '2672' '20_'
 '2008' '-3' '538' '6_' '1_' '16_' '27' '-2' '3478' '2420' '15_' '707'
 '708' '26_' '18_' '3815' '28' '5_' '1867' '2250' '1463' '25_' '7_' '4126'
 '2882' '1941' '2655' '2628' '132' '3069' '306' '0_' '3539' '3684' '1823'
 '4128' '1946' '827' '2297' '2566' '904' '182' '929' '3568' '2503' '1552'
 '2812' '1697' '3764' '851' '3905' '923' '88' '1668' '3253' '808' '2689'
 '3858' '642' '3457' '1402' '1732' '3154' '847' '3037' '2204' '3103'
 '1063' '2056' '1282' '1841' '2569_' '211' '793' '3484' '411' '3491'
 '2072' '3050' '1049' '2162' '3402' '2753' '27_' '1718' '1014' '3260'
 '3855' '84' '2311' '3251' '1832' '4069' '3010' '733' '4241' '166' '2461'
 '1749' '3200' '663_' '2185' '4161' '3009' '359' '2015' '1523' '594'
 '1079' '1199' '186' '1015' '1989' '281' '559' '2165' '1509' '3545' '779'
 '192' '4311' '-2_' '2323' '1471' '1538' '3529' '439' '3456' '3040' '2697'
 '3179' '1332' '3175' '3112' '829' '4022' '3870' '4023' '531' '1511'
 '3092' '3191' '2400' '3621' '3536' '544' '1864' '28_' '142' '2300' '264'
 '72' '497' '398' '2222' '3960' '1473' '3043' '4216' '2903' '2658' '-1_'
 '4042' '1323_' '2184' '921' '1328' '3404' '2438' '809' '47' '1996' '4164'
 '1370' '1204' '2167' '4011' '2590' '2594' '2533' '1663' '1018' '2919'
 '3458' '3316' '2589' '2801' '3355' '2529' '2488' '4266' '1243' '739'
 '845' '4107' '1884' '337' '2660' '290' '674' '2450' '3738' '1792' '2823'
 '2570' '775' '960' '482' '1706' '2493' '3623' '3031' '2794_' '2219_'
 '758_' '1849' '3559' '4096' '3726' '1953' '2657' '4043' '2938' '4384'
 '1647' '2694' '3533' '519' '2677' '2413' '-3_' '4139' '2609' '4326'
 '4211' '823' '3011' '1608' '2860' '4219' '4047' '1531' '742' '52' '4024'
 '1673' '49' '2243' '1685' '1869' '2587' '3489' '749' '1164' '2616' '848_'
 '4134' '1530' '1502' '4075' '3845' '1060' '2573' '2128' '328' '640'
 '2585' '2230' '1795' '1180' '1534' '3739' '3313' '4191' '996' '372'
 '3340' '3177' '602' '787' '4135' '3878' '4059' '1218' '4051' '1766'
 '1359' '3107' '585' '1263' '2511' '709' '3632' '4077' '2943' '2793'
 '3245' '2317' '1640' '2237_' '3819' '252' '3978' '1498' '1833' '2737'
 '1192' '1481' '700' '271' '2286' '273' '1215' '3944' '2070' '1478' '3749'
 '871' '2508' '2959' '130' '294' '3097_' '3511' '415' '2196' '2138' '2149'
 '1874' '1553' '3847' '3222' '1222' '2907' '3051' '98' '1598' '416' '2314'
 '2955' '1691' '1450' '2021' '1636' '80' '3708' '195' '320' '2945' '1911'
 '3416' '3796' '4159' '2255' '938' '4397' '3776' '2148' '1994' '853'
 '1178' '1633' '196' '3864' '714' '1687' '1034' '468' '1337' '2044' '1541'
 '3661' '1211' '2645' '2007' '102' '1891' '3162' '3142' '2566_' '2766'
 '3881' '2728' '2671' '1952' '3580' '2705' '4251' '3840_' '972' '3119'
 '3502' '4185' '2954' '683' '1614' '1572' '4302' '3447' '1852' '2131'
 '1900' '1699' '133' '2018' '2127' '508' '210' '577' '1664' '2604' '1411'
 '2351' '867' '1371' '2352' '1191' '905' '4053' '3869' '933' '3660' '3300'
 '3629' '3208' '2142' '2521' '450' '583' '876' '121' '3919' '2560' '2578'
 '2060' '813' '1236' '1489' '4360' '1154' '2544' '4172' '2924' '426'
 '4270' '2768' '3909' '3951' '2712' '2498' '3171' '1750' '197' '2569'
 '265' '4293' '887' '2707' '2397' '4337' '4249' '2751' '2950' '1859' '107'
 '2348' '2506' '2810' '2873' '1301' '2262' '1890' '3078' '3865' '3268'
 '2777' '3105' '1278' '3793' '2276' '2879' '4298' '2141' '223' '2239'
 '846' '1862' '2756' '1181' '1184' '2617' '3972' '2334' '3900' '2759'
 '4169' '2280' '2492' '2729' '3750' '1825' '309' '2431' '3099' '2080'
 '2279' '2666' '3722' '1976' '529' '1985' '3060' '4278' '3212' '46' '3148'
 '3467' '4231' '3790' '473' '1536' '3955' '2324' '2381' '1177' '371'
 '2896' '3880' '2991' '4319' '1061' '662' '4144' '693' '2006' '3115'
 '2278_' '3751' '1861' '4262' '2913' '2615' '3492' '800' '3766' '384'
 '3407' '1087' '3329' '1086' '2216' '1087_' '2457' '3522' '3274' '3488'
 '2854' '238' '351' '3706' '4280' '4095' '2926' '1329' '3370' '283' '1392'
 '1743' '2429' '974' '3156' '1133' '4388' '3243' '4282' '2523' '4281'
 '3415' '2001' '441' '94' '3499' '969' '3368' '106' '1004' '2638' '3946'
 '2956' '4324' '85' '4113' '819' '615' '1172' '2553' '1765' '3495' '2820'
 '4239' '4340' '1295_' '2636' '4295' '1653' '1325' '1879' '1096' '1735'
 '3584' '1073' '1975' '3827' '2552' '3754' '2378' '532' '926' '2376'
 '3636' '3763' '778' '2621' '804' '754' '2418' '4019' '3926' '3861_'
 '3574' '175' '162' '2834' '3765' '2354' '523' '2274' '1606' '1443' '1354'
 '2142_' '1422' '2278' '1045' '4106' '3155' '666' '659' '3229' '1216'
 '2076' '1473_' '2384' '1954' '719' '2534' '4002' '541' '2875' '4344'
 '2081' '3894' '1256' '676' '4178' '399' '86' '1571' '4037' '1967' '4005'
 '3216' '1150' '2591' '1801' '3721' '1775' '2260' '3707' '4292' '1820'
 '145' '1480' '1850' '430' '217' '3920_' '1389' '1579' '3391' '2385'
 '3336' '3392' '3688' '221' '2047']
 --------------------------------------------------------------------------------

Feature:
 Changed_Credit_Limit
 ['11.27' '_' '6.27' ... '17.509999999999998' '25.16' '21.17']
 --------------------------------------------------------------------------------

Feature:
 Outstanding_Debt
 ['809.98' '605.03' '1303.01' ... '3571.7_' '3571.7' '502.38']
 --------------------------------------------------------------------------------

Feature:
 Amount_invested_monthly
 ['80.41529543900253' '118.28022162236736' '81.699521264648' ...
 '24.02847744864441' '251.67258219721603' '167.1638651610451']
 --------------------------------------------------------------------------------

Feature:
 Monthly_Balance
 ['312.49408867943663' '284.62916249607184' '331.2098628537912' ...
 516.8090832742814 319.1649785257098 393.6736955618808]
 --------------------------------------------------------------------------------

By looking at some of the entries above, one thing that could be noticed is that some of these entries contain non-numerical character, such as '-' and '_', while they are supposed to have only numerical character. We will omit both of these special characters from the features, and see if they can be converted into numerical features afterwards.

In [462]:
# Removing the '-' and '_' characters
for feature in FeaturesToConvert:
    train[feature] = train[feature].str.strip('-_')

# Handling the empty members in each feature
for feature in FeaturesToConvert:
    train[feature] = train[feature].replace({'':np.nan})

# Trying converting the categorical features into numerical type
for feature in FeaturesToConvert:
    train[feature] = train[feature].astype('float64')

# Checking if the conversion is successful
for feature in FeaturesToConvert:
    print(feature, '\n',
          train[feature].dtype)

Age
 float64
Annual_Income
 float64
Num_of_Loan
 float64
Num_of_Delayed_Payment
 float64
Changed_Credit_Limit
 float64
Outstanding_Debt
 float64
Amount_invested_monthly
 float64
Monthly_Balance
 float64

### IIIb. Credit_History_Age engineering

The data contained in this feature is meant to show a duration type of data, so for the sake of praticality when dealing with this data later in the analysis and prediction process, the type of data is better not be categorical, but numerical instead. Let's process the data contained in this feature.

In [463]:
# Taking a quick look again at the data
train['Credit_History_Age'].head()

0    22 Years and 1 Months
1                      NaN
2    22 Years and 3 Months
3    22 Years and 4 Months
4    22 Years and 5 Months
Name: Credit_History_Age, dtype: object

Since the smallest unit is monthly, we are going to convert the data in monthly unit.

In [464]:
# Splitting each member of the 'Credit_History_Age' feature
SplitHistoryAge = [str(date).split(' ') for date in train['Credit_History_Age']]

# Getting the year
CreditYear = [item[0] for item in SplitHistoryAge]

# Converting the year to month
CreditYear = [float(x) * 12 for x in CreditYear]

# Getting the month
CreditMonth = []
for item in SplitHistoryAge:
    if len(item) > 1:
        CreditMonth.append(item[3]) # for non-nan member
    else:
        CreditMonth.append(item[0]) # for nan member

# Combining the year and month
CombinedCreditAge = [float(CreditYear[i]) + float(CreditMonth[i]) for i in range(len(CreditYear))]

# Assigning the combined month to the 'Credit_History_Age' feature
train['Credit_History_Age'] = CombinedCreditAge

# Checking the first five rows again
train['Credit_History_Age'].head()

0    265.0
1      NaN
2    267.0
3    268.0
4    269.0
Name: Credit_History_Age, dtype: float64

## **IV. Data Exploration 2: Categorical Features**

Now that the data type of each feature has been corrected, let us proceed to checking the cleanliness of each feature itself: data validation, spelling errors, missing values, outliers, feature addition or deletion (if needed).

In [465]:
# Rechecking the general overview of the train dataset after it has been previously modified
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 28 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ID                        100000 non-null  object
 1   Customer_ID               100000 non-null  object
 2   Month                     100000 non-null  object
 3   Name                      90015 non-null   object
 4   Age                       100000 non-null  float64
 5   SSN                       100000 non-null  object
 6   Occupation                100000 non-null  object
 7   Annual_Income             100000 non-null  float64
 8   Monthly_Inhand_Salary     84998 non-null   float64
 9   Num_Bank_Accounts         100000 non-null  int64
 10  Num_Credit_Card           100000 non-null  int64
 11  Interest_Rate             100000 non-null  int64
 12  Num_of_Loan               100000 non-null  float64
 13  Type_of_Loan              88592 non-null   object
 14  Delay_from_due_date       100000 non-null  int64
 15  Num_of_Delayed_Payment    92998 non-null   float64
 16  Changed_Credit_Limit      97909 non-null   float64
 17  Num_Credit_Inquiries      98035 non-null   float64
 18  Credit_Mix                100000 non-null  object
 19  Outstanding_Debt          100000 non-null  float64
 20  Credit_Utilization_Ratio  100000 non-null  float64
 21  Credit_History_Age        90970 non-null   float64
 22  Payment_of_Min_Amount     100000 non-null  object
 23  Total_EMI_per_month       100000 non-null  float64
 24  Amount_invested_monthly   95521 non-null   float64
 25  Payment_Behaviour         100000 non-null  object
 26  Monthly_Balance           97132 non-null   float64
 27  Credit_Score              100000 non-null  object
dtypes: float64(13), int64(4), object(11)
memory usage: 21.4+ MB

In [466]:
# Storing the categorical column name into a list
CatFeatures = []
for feature in train.columns:
    if train[feature].dtype == 'object':
        CatFeatures.append(feature)

# Storing the numerical column name into a list
NumFeatures = []
for feature in train.columns:
    if train[feature].dtype == 'float64' or train[feature].dtype == 'int64':
        NumFeatures.append(feature)

Checking the unique values of the categorical features

In [467]:
# Checking the unique values of the these features
for feature in CatFeatures:
    uniques = train[feature].unique()
    print('Feature:', '\n',
          colored(feature, attrs = ['bold']), '\n',
          uniques, '\n',
          'Unique values = ', len(train[feature].unique()), '\n',
          '--'*40, '\n')

Feature:
 ID
 ['0x1602' '0x1603' '0x1604' ... '0x25feb' '0x25fec' '0x25fed']
 Unique values =  100000
 --------------------------------------------------------------------------------

Feature:
 Customer_ID
 ['CUS_0xd40' 'CUS_0x21b1' 'CUS_0x2dbc' ... 'CUS_0xaf61' 'CUS_0x8600'
 'CUS_0x942c']
 Unique values =  12500
 --------------------------------------------------------------------------------

Feature:
 Month
 ['January' 'February' 'March' 'April' 'May' 'June' 'July' 'August']
 Unique values =  8
 --------------------------------------------------------------------------------

Feature:
 Name
 ['Aaron Maashoh' nan 'Rick Rothackerj' ... 'Chris Wickhamm'
 'Sarah McBridec' 'Nicks']
 Unique values =  10140
 --------------------------------------------------------------------------------

Feature:
 SSN
 ['821-00-0265' '#F%$D@*&8' '004-07-5839' ... '133-16-7738' '031-35-0942'
 '078-73-5990']
 Unique values =  12501
 --------------------------------------------------------------------------------

Feature:
 Occupation
 ['Scientist' '_______' 'Teacher' 'Engineer' 'Entrepreneur' 'Developer'
 'Lawyer' 'Media_Manager' 'Doctor' 'Journalist' 'Manager' 'Accountant'
 'Musician' 'Mechanic' 'Writer' 'Architect']
 Unique values =  16
 --------------------------------------------------------------------------------

Feature:
 Type_of_Loan
 ['Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan'
 'Credit-Builder Loan' 'Auto Loan, Auto Loan, and Not Specified' ...
 'Home Equity Loan, Auto Loan, Auto Loan, and Auto Loan'
 'Payday Loan, Student Loan, Mortgage Loan, and Not Specified'
 'Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan']
 Unique values =  6261
 --------------------------------------------------------------------------------

Feature:
 Credit_Mix
 ['_' 'Good' 'Standard' 'Bad']
 Unique values =  4
 --------------------------------------------------------------------------------

Feature:
 Payment_of_Min_Amount
 ['No' 'NM' 'Yes']
 Unique values =  3
 --------------------------------------------------------------------------------

Feature:
 Payment_Behaviour
 ['High_spent_Small_value_payments' 'Low_spent_Large_value_payments'
 'Low_spent_Medium_value_payments' 'Low_spent_Small_value_payments'
 'High_spent_Medium_value_payments' '!@9#%8'
 'High_spent_Large_value_payments']
 Unique values =  7
 --------------------------------------------------------------------------------

Feature:
 Credit_Score
 ['Good' 'Standard' 'Poor']
 Unique values =  3
 --------------------------------------------------------------------------------

Findings:

*   Each customer data is presented in 8 months, from January to August. The correlation between the total members of the ID and Customer_ID features match up this information, with ID having 100000 members and Customer_ID having 12500 members.
*   The Name feature should have 12500 members as well, matching up to the value of the Customer_ID feature. The fact that the Name feature only consists of 10140 members might imply strongly that there are some of customer's names which completely miss from the dataset.
*   The SSN feature has 12501 members, with one member having a seemingly weird data validation compared to the other members in the feature, that is: '#F%$D@*&8'.
*   There are missing values in the Occupation feature, though not in the 'nan' format.
*   The Type_of_Loan feature appears to have list values. Formatting will be needed for this feature.
*   The Payment_Behavior also has a weird data validation compared to the other members in the feature, that is: '!@9#%8'
*   Including the Occupation and Credit_Mix features, after the data with weird data validation that exists in SSN and Payment_Behavior features has been deleted, these four features will have some missing values that need to be dealt with afterwards.

## **V. Feature Engineering: Data Cleaning**

### Va. Feature: Name

The Name feature usually has a purpose as a unique identifier for each entry in the dataset, in this case a unique identifier for each customer. However, since there are missing values in this column and the purpose of the feature overlaps with the Customer_ID feature anyway, the Name feature will be dropped instead.

In [468]:
# Dropping the Name feature
train.drop('Name', axis = 1, inplace = True)

### Vb. Feature: SSN

The '#F%$D@*&8' value will be dropped from the feature, as it contains an abnormal data validation compared to the other members in the feature.

In [469]:
# Dropping the '#F%$D@*&8' value from the SSN feature
train['SSN'] = train['SSN'].replace('#F%$D@*&8', np.nan)

The missing values now need to be filled in. SSN stands for Social Security Number, whose values are unique to each customer. Using this condition, we will be filling in the missing SSN values with the most frequently occuring method, with the Customer_ID feature as the reference.

In [470]:
# Filling in the missing values in SSN feature
train['SSN'] = train['SSN'].fillna(train.groupby('Customer_ID')['SSN'].transform(lambda x:x.mode().iat[0]))

### Vc. Feature: Occupation

Similar to the SSN feature, each value in the Occupation feature is also unique to each customer, assuming that the customers do not change occupation during the time period contained in the dataset. We cannot immediately fill in the missing values though, since the missing values are written as '_______' and not in 'nan'. We will drop the '_______', then fill in the missing Occupation value with the most frequent value occuring for each customer.

In [471]:
# Dropping the '_______' values
train['Occupation'] = train['Occupation'].replace('_______', np.NaN)

# Filling in the missing values in Occupation feature
train['Occupation'] = train['Occupation'].fillna(train.groupby('Customer_ID')['Occupation'].transform(lambda x:x.mode().iat[0]))

# Checking if there are still missing values
train['Occupation'].unique()

array(['Scientist', 'Teacher', 'Engineer', 'Entrepreneur', 'Developer',
       'Lawyer', 'Media_Manager', 'Doctor', 'Journalist', 'Manager',
       'Accountant', 'Musician', 'Mechanic', 'Writer', 'Architect'],
      dtype=object)

### Vd. Feature: Type_of_Loan

The type of data contained in the Type_of_Loan feature is actually list, though Python considers it as regular string instead. For this data cleaning process, the Type of Loan will be extended in each separated features, with the value in boolean type, plus a feature that has the value count of the Type_of_Loan of each customer. We will first try to clean the format of the string values of this feature.

In [472]:
# Checking how the data displays
print(train['Type_of_Loan'][0])
print(type(train['Type_of_Loan'][0]))

Auto Loan, Credit-Builder Loan, Personal Loan, and Home Equity Loan
<class 'str'>

In [473]:
# Converting every member of the feature as string (initially, the nan are categorized as float)
train['Type_of_Loan'] = train['Type_of_Loan'].astype('str')

# Dropping the 'and ' strings
train['Type_of_Loan'] = [item.replace('and ', '') for item in train['Type_of_Loan']]

In [474]:
# Dropping unuseful blank space
train['Type_of_Loan'] = [item.replace(', ', ',') for item in train['Type_of_Loan']]

# Splitting each item in the member of the feature by comma delimiter
train['Type_of_Loan'] = [item.split(',') for item in train['Type_of_Loan']]

In [475]:
# Checking if the data has been successfully formatted
print(train['Type_of_Loan'][0])
print(type(train['Type_of_Loan'][0]))

['Auto Loan', 'Credit-Builder Loan', 'Personal Loan', 'Home Equity Loan']
<class 'list'>

Now, before we spread each unique value of Type_of_Loan as separate boolean features, we will be filling in the missing values based on the frequency of each unique value.

In [476]:
# unique value counts (frequency) of each unique value
UVCounts_Type_of_Loan = pd.Series([x for _list in train['Type_of_Loan'] for x in _list]).value_counts()

# Type_of_Loan unique values (excluding nan)
UV = list(UCounts_Type_of_Loan[:-1].index)

# The sum of all unique values (excluding nan)
Total_Counts = sum(UVCounts_Type_of_Loan[:-1])

# Calculating the probabilities of each unique value
Probabilities = []
for i in UVCounts_Type_of_Loan[:-1]:
    Prob = i / Total_Counts
    Probabilities.append(Prob)

# Creating the table
Type_of_Loan_Probs = pd.DataFrame(list(zip(UV,
                                           UVCounts_Type_of_Loan[:-1], 
                                           Probabilities)))

# Giving column names to the table
Type_of_Loan_Probs.columns = ['Type_of_Loan', 'Count', 'Prob']

# Report
Type_of_Loan_Probs

              Type_of_Loan  Count      Prob
0              Payday Loan  40568  0.114830
1      Credit-Builder Loan  40440  0.114468
2            Not Specified  39616  0.112135
3         Home Equity Loan  39104  0.110686
4             Student Loan  38968  0.110301
5            Mortgage Loan  38936  0.110210
6            Personal Loan  38888  0.110075
7  Debt Consolidation Loan  38776  0.109757
8                Auto Loan  37992  0.107538

In [477]:
# Filling in the missing Type_of_Loan data
train['Type_of_Loan'] = train['Type_of_Loan'].fillna(pd.Series(np.random.choice(UV,
                                                                                p = Probabilities,
                                                                                size = len(train['Type_of_Loan']))))

In [478]:
# Checking if there are still missing values in the Type_of_Loan feature
train['Type_of_Loan'].isnull().sum()

0

Now that the missing values are not present anymore, let us separate each Type_of_Loan into separate features

In [479]:
# Converting the list of list into a dataframe
df_Type_of_Loan = pd.DataFrame(mlb.fit_transform(train['Type_of_Loan']),columns=mlb.classes_).astype(bool)
df_Type_of_Loan

,Auto Loan,Credit-Builder Loan,Debt Consolidation Loan,Home Equity Loan,Mortgage Loan,Not Specified,Payday Loan,Personal Loan,Student Loan,nan
0,True,True,False,True,False,False,False,True,False,False
1,True,True,False,True,False,False,False,True,False,False
2,True,True,False,True,False,False,False,True,False,False
3,True,True,False,True,False,False,False,True,False,False
4,True,True,False,True,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...
99995,True,False,False,False,False,False,False,False,True,False
99996,True,False,False,False,False,False,False,False,True,False
99997,True,False,False,False,False,False,False,False,True,False
99998,True,False,False,False,False,False,False,False,True,False
99999,True,False,False,False,False,False,False,False,True,False

In [480]:
# Making sure the nan feature is empty
sum(df_Type_of_Loan['nan'] == 'True')

0

In [481]:
# Dropping the nan feature
df_Type_of_Loan.drop('nan', axis = 1, inplace = True)

In [482]:
# Commbining the original dataset and the Type_of_Loan dataset
train2 = pd.concat([train, df_Type_of_Loan],
                  axis = 1,
                  ignore_index = False)

# Moving the Credit_Score feature to the end of the dataframe
temp1 = train2['Credit_Score'] # temporarily storing the Credit_Score feature
train2.drop('Credit_Score', axis = 1, inplace = True) # Dropping the feature
train2['Credit_Score'] = temp1 # Reinserting the Credit_Score feature

The Type_of_Loan feature itself for now will not be dropped. This feature will still be useful when we are going to engineer the Num_of_Loan feature in the numerical feature section. Num_of_Loan basically counts the Type_of_Loan each entry has and it will be easier to count directly from the Type_of_Loan feature.

### Ve. Feature: Payment_Behavior

The '!@9#%8' value will be dropped from the feature, as it contains an abnormal data validation compared to the other members in the feature.

In [483]:
# Checking how many '!@9#%8' Payment_Behaviour values there are
len(train2[train2['Payment_Behaviour'] == '!@9#%8'])

7600

In [484]:
# Dropping the '!@9#%8' value from the SSN feature
train2['Payment_Behaviour'] = train2['Payment_Behaviour'].replace('!@9#%8', np.nan)

In [485]:
# Filling in the missing values in Payment_Behaviour feature
train2['Payment_Behaviour'] = train2['Payment_Behaviour'].fillna(train.groupby('Customer_ID')['Payment_Behaviour'].transform(lambda x:x.mode().iat[0]))

In [486]:
# Checking if there are still abnormal values
len(train2[train2['Payment_Behaviour'] == '!@9#%8'])

1736

Note that after the fillna process, there are still 1736 '!@9#%8' values. This is because some customers have at least two type of Payment_Behaviour with same value counts. However, considering that the number is now small compared to the initial 7600 value counts, we will fill in the remaining with probability instead, the same as when we did with Type_of_Loan.

In [502]:
# Type_of_Loan unique values (excluding !@9#%8)
listUV = list(train['Payment_Behaviour'].unique())
listUV.remove('!@9#%8')
listUV

# unique value counts (frequency) of each unique value
listUVcount = []
for i in listUV:
    UVcount = (train['Payment_Behaviour'] == i).sum()
    listUVcount.append(UVcount)
    
# The sum of all unique values (excluding !@9#%8)
totalcount = sum(listUVcount)

# Calculating the probabilities of each unique value
listUVprob = []
for i in listUVcount:
    UVprob = i / totalcount
    listUVprob.append(UVprob)

# Creating the table
table = pd.DataFrame(list(zip(listUV, listUVcount, listUVprob)))

# Giving column names to the table
table.columns = ['Payment_Behaviour', 'Count', 'Probabiity']

# report
table

                  Payment_Behaviour  Count  Probabiity
0   High_spent_Small_value_payments  11340    0.122727
1    Low_spent_Large_value_payments  10425    0.112825
2   Low_spent_Medium_value_payments  13861    0.150011
3    Low_spent_Small_value_payments  25513    0.276115
4  High_spent_Medium_value_payments  17540    0.189827
5   High_spent_Large_value_payments  13721    0.148496

In [506]:
# Dropping !@9#%8 values
train2['Payment_Behaviour'] = train2['Payment_Behaviour'].replace('!@9#%8', np.nan)

# Filling in the remaining missing values with the unique value probability
train2['Payment_Behaviour'] = train2['Payment_Behaviour'].fillna(pd.Series(np.random.choice(listUV,
                                                                                            p = listUVprob, 
                                                                                            size = len(train2['Payment_Behaviour']))))

# Checking if there are still abnormal values
len(train2[train2['Payment_Behaviour'] == '!@9#%8'])

0

# --(work still in progress, will be updated soon)--